* {
    box-sizing: border-box; 
}

body {
    background-color: aqua;
}

label {
    font-size: 18px;
    font-weight: bold;
}
.maindiv {
    background-color: salmon;
    width: 60%;
    margin: 40px auto;
    padding: 40px;
}

input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
}

.submitt {
    width: 150px;
    margin-left: 40px;
    background: mediumblue;
    color: wheat
}